body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
}


/* Modal Overlay */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1050; /* Ensure modal is on top */
  }
  
  /* Modal Content */
  .modalContent {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border: 2px solid #ccc; /* Add border around modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for more emphasis */
  }
  
  /* Input styling */
  .fileInput {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
  }
  
  /* CustomSaveButton styling */
  .customSaveButton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .customSaveButton:hover {
    background-color: #0056b3;
  }
  
  .customSaveButton:active {
    background-color: #004085;
  }
  